@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  color: #464c53;
}

a {
  color: #464c53;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.black-color {
  color: #464c53;
}

/* hero-section */






