
.heroSection {
  padding-top: 5%;
  padding-left: 10%;
}

.heroDiv {
  padding-left: 15%;
  padding-right: 30%;
}


h2.heroHeading {
  color: #16191d;
  font-weight: 700;
  font-size: 64px;
}

span.heroSpan {
  color: #2764ed;
}

p.heroText {
  padding-left: 3%;
  font-weight: 400;
  color: #464c53;
  font-size: 24px;
  text-align: center;
}

button.heroButton {
  background-color: #fa7a18;
  color: #fff;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12),
    0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 72px;
  position: absolute;
  margin-top: -35%;
  margin-left: 30%;
  padding: 15px 60px;
}

.heroImage {
  position: relative;
}

.heroWatsap {
  position: absolute;
  margin-top: -15%;
  margin-left: 60%;
}


@media screen and (max-width: 904px) {

  .heroSection {
    padding-top: 15%;
    padding-left: 5%;
  }

  .heroDiv {
    padding-left: 5%;
    padding-right: 5%;
  }

  h2.heroHeading {
    font-size: 40px;
    text-align: center;
  }

  p.heroText {
    font-size: 20px;
    text-align: center;
   
  }

  button.heroButton {
    padding: 10px 10px;
    margin-top: -45%;
    margin-left: 35%;
  }


  .heroWatsap {
    position: absolute;
    margin-top: -20%;
    margin-left: 70%;
  }
  
}